@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body,
html {
  margin: 0;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: url('../assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

iframe {
  border-style: none;
  width: 100%;
  height: 100%;
  border: 0.05px solid #f9f9f9;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.card-holder {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.card {
  height: 350px;
  width: 40vw;
  flex: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.link {
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 36px;
  background-color: #4285f4;
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  /* justify-content: center; */
  color: white;
}
.link:hover {
  transform: scale(0.99);
  box-shadow: none;
  transition: 0.3s ease-in-out;
  background-color: rgb(64, 111, 197);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  z-index: 100;
  background: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: contain;
  height: 24rem;
  width: 24rem;
  border-radius: 50%;
  padding: 1rem;
}

.circular-portrait {
  position: relative;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  border-radius: 50%;
}
.circular-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.heading {
  font-size: 1.6rem;
  margin-top: -10%;
}

@media screen and (max-width: 900px) {
  body {
    background-size: cover;
  }
  ul {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 80vw;
    height: 350px;
  }
  iframe {
    border-style: none;
    width: 70vw;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .link {
    font-size: 20px;
    height: auto;
    width: 88%;
  }
  /* * {
    margin: 0;
    padding: 0;
  } */
  .circular-portrait {
    height: 20rem;
    width: 20rem;
  }
  .heading {
    font-size: 1.6rem;
    margin-top: -15%;
  }
}
