@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body,
html {
  margin: 0;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: url('../bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.ul {
  columns: 2;
}
* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}
.card {
  width: 40vw;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 50px;
}
iframe {
  border-style: none;
  width: 40vw;
  height: 600px;
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); */
}
ul {
  display: flex;
  /* flex-wrap: wrap; */
  columns: 2;

  list-style-type: none;
  /* justify-content: center; */
}
/*wrk*/

/* button */
.link {
  width: 80%;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  background-color: cornflowerblue;
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 5px 0px 0px rgb(64, 111, 197);
}

.link:hover {
  transform: scale(0.99);
  box-shadow: none;
  transition: 0.3s ease-in-out;
  background-color: rgb(64, 111, 197);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  align-items: center;
  text-align: center;
  margin-top: 2vh;
  font-size: 1.5rem;
  font-weight: bold;

  justify-content: center;
}
.logo {
  background: url('../logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: contain;
  width: 36rem;
  height: 10rem;
  padding: 1rem;
}
@media screen and (max-width: 900px) {
  body {
    background-size: cover;
  }
  ul {
    justify-content: center;
  }
  .card {
    width: 80vw;
    height: 350px;
  }
  iframe {
    border-style: none;
    width: 70vw;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .link {
    font-size: 20px;
    height: auto;
    width: 88%;
  }
}
